@font-face {
    font-family: "raleway regular";
    src: url("fonts/Raleway-Black.ttf");
    src: url("fonts/Raleway-BlackItalic.ttf");
    src: url("fonts/Raleway-BoldItalic.ttf");
    src: url("fonts/Raleway-Bold.ttf");
    src: url("fonts/Raleway-ExtraBold.ttf");
    src: url("fonts/Raleway-ExtraBoldItalic.ttf");
    src: url("fonts/Raleway-ExtraLight.ttf");
    src: url("fonts/Raleway-ExtraLightItalic.ttf");
    src: url("fonts/Raleway-Italic.ttf");
    src: url("fonts/Raleway-Light.ttf");
    src: url("fonts/Raleway-LightItalic.ttf");
    src: url("fonts/Raleway-Medium.ttf");
    src: url("fonts/Raleway-MediumItalic.ttf");
    src: url("fonts/Raleway-Regular.ttf");
    src: url("fonts/Raleway-SemiBold.ttf");
    src: url("fonts/Raleway-SemiBoldItalic.ttf");
    src: url("fonts/Raleway-Thin.ttf");
    src: url("fonts/Raleway-ThinItalic.ttf");
}

*{
    text-decoration: none;
    font-family: "raleway";
    list-style: none;
}
a{
    color: black;
}
.bold{
    font-weight: bold;
}
h3{
    font-weight: bold;
}
/*haut de page*/
.entete{
    display: flex;
    justify-content: space-between;

}
.navigation{
    display: flex;
    margin-right: 10px;
    margin-top: 5px;

}

.navigation a{
    padding: 10px;
}

.navigation a:hover{
    color: #0065FC;
    border-top: 3px solid #0065FC;
    padding: 10px;
}

.inscription{
    color: #0065FC;
}
/*barre de recherche*/
.search{
    display: flex;
}

.search i{
    background-color: #F2F2F2;
    width: 40px;
    height: 40px;
    border-radius: 12px 0px 0px 12px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.recherche{
    height: 40px;
    border: solid 1px #F2F2F2;
}
.bouton-recherche{
    width: 90px;
    height: 40px;
    background-color: #0065FC;
    color: white;
    border-radius: 0px 12px 12px 0px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
/*milieu de page filtres*/

.filtres{
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: baseline;
    
}
.filtres p{
    margin-top: 20px;
}

.filtres i{
    width: 25px;
    height: 25px;
    border: solid #F2F2F2 10px;
    border-radius: 50%;
    color: #0065FC;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    margin-right: 15px;
}
.iconsNtext1{
    margin-top: 20px;
    border: 1px solid #F2F2F2;
    border-radius: 25px 25px 25px 25px;
    display: flex;
    align-items: center; 
    height: 45px;
    width: 190px;
    margin-right: 20px;
    margin-left: 20px;
}
.iconsNtext1:hover{
    background-color: #f2f2f2;
    transform: scale(1.1);
}
.iconsNtext2{
    margin-top: 20px;
    border: 1px solid #F2F2F2;
    border-radius: 25px 25px 25px 25px;
    display: flex;
    align-items: center; 
    height: 45px;
    width: 150px;
    margin-right: 20px;
}
.iconsNtext2:hover{
    background-color: #f2f2f2;
    transform: scale(1.1);
}
.iconsNtext3{
    margin-top: 20px;
    border: 1px solid #F2F2F2;
    border-radius: 25px 25px 25px 25px;
    display: flex;
    align-items: center; 
    height: 45px;
    width: 180px;
    margin-right: 20px;
}
.iconsNtext3:hover{
    background-color: #f2f2f2;
    transform: scale(1.1);
}
.iconsNtext4{
    margin-top: 20px;
    border: 1px solid #F2F2F2;
    border-radius: 25px 25px 25px 25px;
    display: flex;
    align-items: center; 
    height: 45px;
    width: 230px;
}
.iconsNtext4:hover{
    background-color: #f2f2f2;
    transform: scale(1.1);
}
.textfiltres{
    font-weight: bold;
    color: black;
    font-size: 17px;
}
.info{
    display: flex;
    margin-top: 10px;
    margin-bottom: 25px;
}
.info i{
    width: 25px;
    height: 25px;
    border: solid #F2F2F2 2px;
    border-radius: 50%;
    color: #0065FC;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8em;
    margin-right: 15px;
}
.info span{
    padding-top: 5px;
}

/*milieu de page/ hebergement*/

.hebergementmarseille{
    width: 100%;
    margin-left: 35px;
    padding-top: 30px;
    margin-top: 0;
    margin-bottom: 0;
}
.pp1{
    display: flex;
}


article{
    width: 100%;
    height: 700px;
    border-radius: 20px;
    background-color: #F2F2F2;
    flex-wrap: wrap;
    display: flex;
}
.allrooms{
    display: flex;
    flex-wrap: wrap;
    height: 600px;
}

.heberchamb{
    background-color: #fff;
    min-height: 230px;
    width: 28%;
    padding: 5px;
    border-radius: 20px;
    margin: auto;
    transition: 0.4s;
    box-shadow: 0 0 6px 3px #adadad46;
}
.heberchamb:hover{
    transform: scale(1.07);
}
.imgheber{
    width: 100%;
    height: 150px;
    object-fit: cover;
    background-color: #fff;
    color: #fff;
    border-radius: 20px 20px 0 0;
}
.nom{
    font-weight: bold;
    padding: 5px 0 5px 10px;
    margin: 0;
}
.stars{
    display: flex;
    padding-left: 10px;
}
.price{
    padding-left: 10px;
}
.bluestar{
    color: #0065FC;
}
.greystar{
    color: #F2F2F2;
}
.seemore{
    font-weight: bold;
    margin: 0 0 25px 35px;
    color: black;
}

aside{
    width: 45%;
    padding-bottom: 30px;
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-left: 30px;

}

.titrepop{
    margin: 35px 0 35px 35px;
}
.pop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
    padding-left: 15px; 
}
.pop i{
    color: black;
}
.imgpop{
    background-color: #fff;
    height: 150px;
    width: 80%;
    padding: 3px;
    border-radius: 25px;
    transition: 0.4s;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0 0 6px 3px #adadad46;
    display: flex;
}
.imgpop:hover{
    transform: scale(1.07);
    cursor: pointer;
}
.imginaside{
    width: 150px;
    height: 100%;
    object-fit: cover;
    background-color: #fff;
    color: #fff;
    margin:auto;
    border-radius: 25px 0 0 25px;
}
.pricepop{
    margin-bottom:30px;
    padding-left: 10px;
}
/*LES ACTIVITES*/

.activites{
    display: flex;
    width: 100%;
    height: 450px;
}
.titre{
    width: 100%;
    padding: 30px;
    font-size: 20px;
}

.act1{
    background-color: #fff;
    min-height: 185px;
    width: 100%;
    border-radius: 20px;
    transition: 0.4s;
    box-shadow: 0 0 6px 3px #adadad46;
    margin-bottom: 30px;
}
.act2{
    background-color: #fff;
    min-height: 185px;
    width: 100%;
    border-radius: 20px;
    transition: 0.4s;
    box-shadow: 0 0 6px 3px #adadad46;
}
.act3{
    background-color: #fff;
    min-height: 185px;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 30px;
    transition: 0.4s;
    box-shadow: 0 0 6px 3px #adadad46;
}
.act4{
    background-color: #fff;
    min-height: 185px;
    width: 100%;
    border-radius: 20px;
    transition: 0.4s;
    box-shadow: 0 0 6px 3px #adadad46;
}
.act1:hover{
    transform: scale(1.07);
}
.act2:hover{
    transform: scale(1.07);
}
.act3:hover{
    transform: scale(1.07);
}
.act4:hover{
    transform: scale(1.07);
}
.actimg{
    width: 100%;
    height: 150px;
    object-fit: cover;
    background-color: #fff;
    color: #fff;
    border-radius: 20px 20px 0 0;
    display: flex;
    flex-direction: column;
}

.actbig1{
    background-color: #fff;
    min-height: 230px;
    width: 28%;
    border-radius: 20px;
    transition: 0.4s;
    box-shadow: 0 0 6px 3px #adadad46;
    margin-right: 30px;
}
.actbig2{
    background-color: #fff;
    min-height: 230px;
    width: 28%;
    border-radius: 20px;
    transition: 0.4s;
    box-shadow: 0 0 6px 3px #adadad46;
    margin-right: 30px;
    margin-left: 30px;
}
.actbig1:hover{
    transform: scale(1.07);
}
.actbig2:hover{
    transform: scale(1.07);
}
.actimgbig{
    width: 100%;
    height: 390px;
    object-fit: cover;
    background-color: #fff;
    color: #fff;
    border-radius: 20px 20px 0 0;
}
.actbig:hover{
    transform: scale(1.07);
}

.actdesc{
    font-weight: bold;
    padding: 20px;
}

/*bas de page*/
footer{
    display: flex;
    background:#F2F2F2;
    width: 100%;
    margin-top: 50px;
    text-decoration: none;
    
    
   
}

.blocf{
    display: block;
    width: 33%;
    margin: 60px;
    color: black;
}

li{
    padding: none;
}






